.ord {
    color:chocolate;
    background-color: black;
    display: -ms-inline-grid;
    align-items: center;
    justify-content:space-between;
}

.ord h1 {
    color:brown;
    float: left;
    font-weight: 800;
    font-family:cursive;
}

.ord div {
    position: absolute;
    margin: 0px 2rem 0px 35%;
}

.ord div button {
    background-color: rgb(63, 70, 175);
    color:rgb(175, 190, 85);
    border: 1px solid blueviolet;
    border-radius: 15%;
    margin: auto 1rem auto 1rem;
    font-weight:400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ord div h4 {
    margin: auto 1rem auto 1rem;
}

.htext {
     color:red;
     margin: 1rem 1rem 1rem 3rem;

}

.ordPremium {
    color:chocolate;
    background-color: rgb(204, 30, 146);
    display: -ms-inline-grid;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid red;
}

.ordPremium h1 {
    color:rgb(230, 22, 22);
    float: left;
    font-weight: 800;
    font-family:cursive;
    font-style: italic;
}

.ordPremium div {
    position: absolute;
    margin: 0px 2rem 0px 35%;
}

.ordPremium div button {
    background-color: rgb(98, 190, 126);
    color:rgb(135, 138, 117);
    border: 1px solid rgb(165, 102, 224);
    border-radius: 15%;
    margin: auto 1rem auto 1rem;
    font-weight:400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ordPremium div h4 {
    margin: auto 1rem auto 1rem;
}
